// colors
$color-white: #874ec0;
$color-blue-purp: rgb(158, 158, 158);
$bg-black: #ffffff;
$green: #9ad983;
$black: #323434;
$liteblack: #888888;
$light-bg: #888888;
$error: #ff8989;
$warning: #ffc804;
