// font families
$big-font: "Space Grotesk", sans-serif;
$small-font: "Noto Sans Georgian", sans-serif;

// font sizes

$h1-size: 2rem;
$h2-size: 1.75rem;
$h4-size: 1.5rem;
$text-large: 1.3rem;
$text-mid: 1rem;
$text-small: 0.8rem;
$big-text: 3.5rem;
